* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color:#FFFAF0;
    background-blend-mode:lighten;
    background-size: cover;
    background-attachment: fixed;
    
}
/* ヘッダー */
header{
    width: 100%;
    position: relative;
}
header .wrap{
    position: relative;
    flex-wrap: wrap;
    background-color: #fff;
    height: 7rem;
}
header h1{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    background-color: #fff;
    font-weight: bold;
    font-family: serif;
    font-size: 3.7rem;
    padding: 0.7rem;
}
.pc{
    display: block !important;
}
.sp{
    display: none !important;
}
header .nav{
    text-align: right;
    width: 50%;
}
header .wrap .head_menu{
    position: absolute;
    top: 0;
    right: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(7, 6, 64);
    
    margin: 0;
    padding: 0;
}
.head_menu li{
    display: inline-block;
    border-right: 1px solid #bbbbbb;
}
.head_menu li:last-child {
	border-right: none;
}
.head_menu li a{
    display: block;
    color: #fff;
    background-color: rgb(7, 6, 64);

    padding: 2.4rem 1rem;
    text-align: center;
    text-decoration: none;
    font-family: serif;
    font-size: 1.5rem;
}
header .phone_area{
    display:none;
}
.slide_show{
    text-align: right; 
    margin: 0 auto; 
}
.slide_show img{
    width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}
header .buffet_title{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}
header .buffet_title2{
    font-weight: bold;
    font-family: serif;
    font-size: 6rem;
    background-color:rgba(255,255,255,0.6);
    margin: 0.5rem 0;
    line-height: 120%;
}
header .buffet_title3{
    font-weight: bold;
    font-family: serif;
    font-size: 9rem;
    background-color:rgba(255,255,255,0.6);
    margin: 0.5rem 0;
    line-height: 120%;
}
header .buffet_title4{
    font-weight: bold;
    font-family: serif;
    font-size: 6rem;
    background-color:rgba(255,255,255,0.6);
    margin: 0.5rem 0;
    line-height: 120%;
}
header .buffet_title5{
    font-weight: bold;
    font-family: serif;
    font-size: 3rem;
    background-color:rgba(255,255,255,0.6);
    margin: 0.5rem 0;
    line-height: 120%;
}
header .buffet_title6{
    font-weight: bold;
    font-family: serif;
    font-size: 2.5rem;
    background-color:rgba(255,255,255,0.6);
    margin: 0.5rem 0;
    line-height: 120%;
}
/*ヘッダーここまで*/
/*メインここから*/
main .about_fair{
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
}
main .about_fair p{
    color: #800000;
    font-weight: bold;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    font-family: serif;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    padding-top: 6rem;
    padding-bottom: 0rem;
}
main .about_fair .center{
    text-align: center;
}
main button{
    padding: 2rem 10rem;
    border-radius: 5px;
    -webkit-appearance: none;
    border: solid 1px #ccc;
    background-color: #CB0065;
    font-size: 2rem;
    margin: 7rem;
}
main button a{
    color: #fff;
}
/*商品メニューここから*/
.menu{
    width: 100%;   
}
.menu .menu_image{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.menu .straberry_menu{
    width: 46%;
    padding: 1rem 1.5rem; 
    position: relative;
}
.menu .straberry_menu img{
    width: 100%;
}
.menu .straberry_menu .item_name{
    position: absolute;
    font-family: serif;
    font-weight: bold;
    top: 2em;
    color: #000000;
    font-size: 2.2rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    padding: 1.5rem 2rem;
    text-align: center;
    background-color:rgba(255,255,255,0.8);
}
.menu .straberry_menu .item_information{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    bottom: 4rem;
    width: 80%;
    font-family: serif;
    font-weight: bold;
    font-size: 1.6rem;
    background-color:rgba(255,255,255,0.6);
    padding: 1rem 1.5rem;
}
.menu .straberry_menu1{
    width: 44%;
    padding: 0.3rem 0.3rem 0.5rem 2.5rem; 
    margin: 1rem;
    background-color: #663300;
}
.menu .straberry_menu1 img{
    width: 100%;
}
.menu_image .straberry_menu1 .menu_title{
    color: #ff9999;
    font-size: 3rem;
    letter-spacing: 0.8rem;
    text-align: center;
    font-family: serif;
}
.menu_image .straberry_menu1 .menu_title2{
    color: #ff9999;
    font-size: 1.5rem;
    font-family: serif;
    letter-spacing: 0.3rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
.menu_image .straberry_menu1 .menu{
    color: #fff;
    font-size: 1.6rem;
    font-family: Yu Mincho;
    text-align: center;
    margin-bottom: 0.5rem;
    font-family: serif;
}
.menu_image .straberry_menu1 .menu_title3{
    color: #ff9999;
    font-size: 1.6rem;
    font-family: serif;
}
.menu_image .straberry_menu1 .menu2{
    color: #fff;
    font-size: 1.5rem;
    font-family: serif;
    margin: 0 2rem 1rem 2rem;
}
.menu_image .straberry_menu1 .menu3{
    color: #fff;
    font-size: 1.2rem;
    font-family: serif;
}
.information{
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
    background: linear-gradient(90deg, rgba(255, 77, 77, .1) 50%, transparent 50%),
                linear-gradient(rgba(255, 77, 77, .1) 50%, transparent 50%);
    background-color: #fff;
    background-size: 80px 80px;
}
.information p{
    font-size: 3rem;
    font-family: serif;
}
.information .information2{
    font-size: 3rem;
    font-weight: bold;
    color: #800000;
}
.information .border{
    border-bottom: dotted 2px gray;
}
.information .day_price{
    font-family: YuGothic;
    color: #a0522d;
    margin: 1.5rem;
    font-size: 2.5rem;
    letter-spacing: -0.1rem;
}
.information .day_price_small{
    font-family: YuGothic;
    font-size: 2rem;
    color: #a0522d;
    margin: 1rem;
}
.information .button2{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: rgb(176, 8, 26);
    padding: 1.3rem;
    width: 30%;
    font-size: 1.6rem;
    font-family: "Comic Sans MS", "cursive","Meiryo UI", "Hiragino Sans","Hiragino Kaku Gothic ProN","Yu Gothic UI", "MS PGothic", sans-serif;
    color: #fff;
    border-radius: 1rem;
}
.information .button2:before{
    content: "";
    position: absolute;
    top: -30px;
    left:50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid rgb(176, 8, 26);
}
address{
    font-family: "游明朝", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "メイリオ", "Meiryo", "HGS明朝B", "HG明朝B", "ＭＳ 明朝";
    font-size: 2.5rem;
    color: #696969;
    font-style: normal;
    letter-spacing: -0.1rem;
}
.address_number{
    font-size: 1.6rem;
}
.address_address{
    letter-spacing: initial;
    font-size: 1.6rem;
}
.information .wrap{
    padding: 10rem 3rem 5rem;
}
.information .snack img{
    width: 20rem;
}
footer{
    text-align: center;
    background-color: #800000;
    color: #fff;
    padding: 3rem;
    font-size: 1.6rem;
}
.nav-unshown {
    display:none;
  }
.information .map_original{
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    height: 40rem;
    background-color: #CB0065;
 }
@media screen and (max-width: 1024px){
    .menu .straberry_menu .item_name{
        top: 3rem;
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    .menu .straberry_menu .item_information{
        bottom: 3.8rem;
        font-size: 1.3rem;
    }
    .menu .straberry_menu .item_information{
        position: absolute;
        width: 80%;
    }
    header h1{
        font-size: 2.8rem;
    }
    header .buffet_title2{
        font-size: 4rem;
    }
    .menu_image .straberry_menu1 .menu_title{
        color: #ff9999;
        font-size: 2.5rem;
        letter-spacing: 0.8rem;
        text-align: center;
        font-family: serif;
    }
    .menu_image .straberry_menu1 .menu_title2{
        color: #ff9999;
        font-size: 1rem;
        font-family: serif;
        letter-spacing: 0.3rem;
        text-align: center;
        margin-bottom: 0.3rem;
    }
    .menu_image .straberry_menu1 .menu{
        color: #fff;
        font-size: 1.2rem;
        font-family: Yu Mincho;
        text-align: center;
        margin-bottom: 0.3rem;
        font-family: serif;
    }
    .menu_image .straberry_menu1 .menu2{
        font-size: 1rem;
    }
    .menu_image .straberry_menu1 .menu_title3{
        font-size: 1rem;
    }
    .menu_image .straberry_menu1 .menu3{
        font-size: 1rem;
    }
    .information .day_price_small{
        font-size: 1.5rem;
        letter-spacing: -0.1rem;
    }
}
@media screen and (max-width: 768px){
    .pc{
        display: none !important;
    }
    .sp{
        display: block !important;
        margin: 0;
    }
    header h1{
        font-size: 2rem;
        background-color: rgba(0,0,0,0);
    }
    header .wrap{
        background-color: rgba(0,0,0,0);
        height: 0;
    }
    header img{
        width: 100%;
    }
    header .buffet_title2{
        font-size: 4rem;
    }
    header .buffet_title3{
        font-size: 5rem;
    }
    header .buffet_title4{
        font-size: 4rem;
    }
    header .buffet_title5{
        font-size: 2rem;
    }
    header .buffet_title6{
        font-size: 2rem;
    }
    .menu .straberry_menu{
        width: 90%;
        padding: 2rem 1.5rem;
    }
    .menu .straberry_menu .item_name{
        font-size: 2rem;
        padding: 1rem 2rem;
    }
    .menu .straberry_menu .item_information{
        width: 85%;
        font-size: 1.7rem;
    }
    .menu .straberry_menu1{
        width: 85%;
        padding: 1.5rem 1rem;
    }
    .menu_image .straberry_menu1 .menu_title{
        color: #ff9999;
        font-size: 3rem;
        letter-spacing: 0.8rem;
        text-align: center;
        font-family: serif;
        font-weight: bold;
    }
    .menu_image .straberry_menu1 .menu_title2{
        color: #ff9999;
        font-size: 1.5rem;
        font-family: serif;
        letter-spacing: 0.3rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    .menu_image .straberry_menu1 .menu{
        color: #fff;
        font-size: 1.2rem;
        font-family: Yu Mincho;
        text-align: center;
        margin-bottom: 0.5rem;
        font-family: serif;
    }
    .menu_image .straberry_menu1 .menu{
        font-size: 1.5rem;
    }
    .menu_image .straberry_menu1 .menu2{
        font-size: 1.5rem;
    }
    .menu_image .straberry_menu1 .menu_title3{
        font-size: 1.5rem;
    }
    .menu_image .straberry_menu1 .menu3{
        font-size: 1.2rem;
    }
    .information p{
        font-size: 2rem;
    }
    .information .day_price_small{
        font-size: 1.5rem;
    }
    #nav-drawer {
        position: relative;
      }
      /*チェックボックス等は非表示に*/
      .nav-unshown {
        display:none;
      }
      /*アイコンのスペース*/
      #nav-open {
        width: 30px;
        height: 22px;
        vertical-align: middle;
      }
      /*ハンバーガーアイコンをCSSだけで表現*/
      #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        margin: 5px;
        height: 3px;/*線の太さ*/
        width: 27px;/*長さ*/
        border-radius: 3px;
        background: #ff69b4;
        display: block;
        content: '';
        cursor: pointer;
      }
      #nav-open span:before {
        bottom: -15px;
        right: -5px;
      }
      #nav-open span:after {
        bottom: -25px;
        right: -5px;
      }
      /*閉じる用の薄黒カバー*/
      #nav-close {
        display: none;/*はじめは隠しておく*/
        position: fixed;
        z-index: 99;
        top: 0;/*全体に広がるように*/
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
      }
      /*中身*/
      .head_menu li{
        display: initial;
        display: list-item;
        background-color: #ffffff;
        height: 2rem;
        text-align: center;
        padding: 0.5rem;
        margin: 0.2rem;
    }
    .head_menu li a{
       all: initial;
       color: #000000;
       padding: 0px;
       font-family: serif;
    }
    .head_menu li:hover{
        background-color:#ffe4e1;
    }
    header .wrap .head_menu{
        all: initial;
    }
      #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;/*最前面に*/
        width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
        max-width: 330px;/*最大幅（調整してください）*/
        height: 100%;
        background-color: #fff;/*背景色*/
        transition: .3s ease-in-out;/*滑らかに表示*/
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);/*左に隠しておく*/
        padding-top: 3rem;
      }
      /*チェックが入ったらもろもろ表示*/
      #nav-input:checked ~ #nav-close {
        display: block;/*カバーを表示*/
        opacity: .5;
      }
      #nav-input:checked ~ #nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);/*中身を表示（右へスライド）*/
        box-shadow: 6px 0 25px rgba(0,0,0,.15);
      }
      .sp .Ham{
          position: fixed;
          z-index: 5;
      }
        /*ハンバーガーメニューここまで*/
}
    @media screen and (max-width: 425px){
        header h1{
            font-size: 1.5rem;
            width: 70%;
        }
        header .buffet_title2{
            font-size: 2.5rem;
        }
        header .buffet_title3{
            font-size: 4rem;
        }
        header .buffet_title4{
            font-size: 3rem;
        }
        header .buffet_title5{
            font-size: 2rem;
        }
        header .buffet_title6{
            font-size: 1.5rem;
        }
        .information{
            padding: 1rem;
        }
        .information .wrap{
            padding: 3rem 3rem 3rem;
        }
        main .about_fair p{
            font-size: 0.8rem;
            padding-top: 1rem;
            line-height: 1.5rem;
            padding-bottom: 2rem;
        }
        main button{
            font-size: 1rem;
            padding: 1rem 5rem;
            margin: 1rem;
        }
        .menu .straberry_menu .item_name{
            height: 1.7rem;
            width: 15rem;
            font-size: 1.1rem;
        }
        .menu .straberry_menu .item_information{
            font-size: 0.5rem;
            width: 83%;
            padding: 0.3rem;
        }
        .menu_image .straberry_menu1 .menu_title{
            font-size: 1rem;
        }
        .menu_image .straberry_menu1 .menu_title2{
            font-size: 0.7rem;
            font-weight: bold;
        }
        .menu_image .straberry_menu1 .menu{
            font-size: 0.7rem;
        }
        .menu_image .straberry_menu1 .menu_title3{
            font-size: 0.7rem;
        }
        .menu_image .straberry_menu1 .menu2{
            font-size: 0.7rem;
        }
        .menu_image .straberry_menu1 .menu3{
            font-size: 0.5rem;
        }
        .information p{
            font-size: 1.4rem;
        }
        .information .border{
            padding: 0rem;
        }
        .information .information2{
            font-size: 1.7rem;
        }
        .information .day_price{
            font-size: 1.4rem;
        }
        .information .day_price_small{
            font-size: 1rem;
        }
        .information .button2{
            font-size: 1.3rem;
            width: 50%;
        }
        .information address{
            font-size: 1.6rem;
        }
        .address_number{
            font-size: 1.2rem;
        }
        .address_address{
            font-size: 1.3rem;
        }
        footer p{
            font-size: 0.9rem;
        }
        .information .map_original{
            width: 25rem;
            height: 20rem;
        }
    }
    @media screen and (max-width: 375px){
        header .buffet_title2{
            font-size: 2rem;
        }
        header .buffet_title3{
            font-size: 3rem;
        }
        .menu .straberry_menu .item_name{
            height: 1.2rem;
            width: 13rem;
            font-size: 1rem;
        }
        .menu .straberry_menu .item_information{
            width: 80%;
        }
    }
    @media screen and (max-width: 320px){
        header .buffet_title3{
            font-size: 3rem;
        }
        header .buffet_title4{
            font-size: 2.5rem;
        }
        .menu .menu_image{
            width: 90%;
        }
        main button{
            padding: 0.8rem 4rem;
            font-size: 0.8rem;
            margin: 1rem;
        }
        main .about_fair p{
            width: 90%;
        }
        .menu .straberry_menu{
            width: 90%;
        }
        .menu .straberry_menu .item_name{
            width: 11rem;
            font-size: 0.9rem;
        }
    
}